body {
  background-color: moccasin;
}
.ABC {
  text-align: center;
}
.Red {
  color: red;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.main {
  font-size: 2rem;
  padding: 20px 50px;
  background-color: rgb(29, 94, 94);
  border: none;
  border-radius: 37px;
  transition: all 0.5s;
}
.main:hover {
  background-color: aqua;
  cursor: pointer;
  box-shadow: 0 0 35px rgb(43, 43, 43);
}
.lol {
  color: white;
}
.bob {
  color: rgb(25, 0, 255);
}
